<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body className="bg-black ">
    <div id="containt" className="flex flex-col justify-center h-screen items-center">
        <div className="space-y-2 "> 
            <div id="divlogo" className="flex">
                    <div id="X" className="">
                        <a href="/homepage"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" className="text-white size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" /></svg></a>
                    </div>
                    <div id="logo" className="ml-16">
                        <div>  
                            <img src="https://play-lh.googleusercontent.com/XyI6Hyz9AFg7E_joVzX2zh6CpWm9B2DG2JuEz5meCFVm4-wTKTnHgqbmg62iFKe4Gzca=w240-h480-rw" alt="X"
                        className="mx-auto w-10"/>
                        </div> 
                         
                    </div> 
            </div>
            <div id="div-step1-step2">
                <div id="step1" className="space-y-2 ">
                    <div className="text-white">
                        <h1>Criar sua conta</h1>
                    </div>
                    <div>
                        <input type="text" id="Nome" required placeholder="Nome" className="w-full px-4 py-2 border border-gray-600 bg-black text-white placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <span id="nomeerro" className="text-red-500 text-xs hidden">Campo obrigatorio</span>
                    </div>
                    <div>
                        <input id="Celular" required placeholder="Celular" 
                        className="w-full px-4 py-2 border border-gray-600 bg-black text-white placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <span id="celularerro" className="text-red-500 text-xs hidden">Campo obrigatorio</span>
                        <input type="text" id="Email" required placeholder="Email" className="hidden w-full px-4 py-2 border border-gray-600 bg-black text-white placeholder-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <span id="emailerro" className="text-red-500 text-xs hidden">Campo obrigatorio</span>
                        <div className="text-right text-xs">
                            <button type="button" id="botao" onclick="trocar()" className="text-blue-500 hover:underline">Usar o e-mail</button>
                        </div>
                        
                    </div>
                    <div>
                        
                        <input id="datanascimento" type="text" required placeholder="Data de nascimento" className="text-white bg-black placeholder-gray-400  w-full px-4 py-2 border border-gray-600 rounded">
                        <span id="dataerro" className="text-red-500 text-xs hidden">Campo obrigatorio</span>
                    </div>
                    <div>
                        <input type="button" onclick="Cadastro()" value="Continuar" className="text-black bg-gray-500 border hover:bg-gray-600  rounded-2xl w-full  py-1 cursor-pointer ">
                    </div>  
                    <div className="flex flex-col space-y-2 text-right">
                        <p className="text-xs text-white">Já tem uma conta?</p>
                        <a href="/src/views/logar" className="max-w-15 text-center ml-40 bg-black hover:bg-gray-500 transition rounded-2xl text-xs text-blue-600 border border-gray-500">Entrar</a>
                    </div>
                </div>
                <div id="step2" className="hidden space-y-4">
                    <h1 className="text-white font-bold text-2xl">Você precisará de uma senha</h1>
                    <div className="w-full  max-w-50% space-y-2">
                        <p className="text-white font-bold">É preciso ter 8 caracteres ou mais.</p>

                        <input
                        type="password"
                        id="senha"
                        required
                        placeholder="senha"
                        className="w-full border text-white px-4 py-2 border-gray-500 placeholder-gray-500 rounded"
                        />
                        <span id="passerro" className="text-red-500 text-xs hidden">Campo obrigatorio</span>

                        <button
                        type="button"
                        onclick="Cadastro()"
                        id="botao"
                        className="w-full text-black bg-gray-500 border hover:bg-gray-600 rounded-2xl py-2 cursor-pointer"
                        >
                        Inscrever-se
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<script src="/cadastro.js"></script>
</body>
</html>