<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X.</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black">
    <div class="flex flex-col items-center justify-center h-screen">
      <div class="space-y-2">
        <div id="divlogoX" class="flex">
          <div class="X">
            <a href="http://localhost:3000/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="text-white size-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                /></svg
            ></a>
          </div>
          <div id="logo" class="flex items-center ml-14">
            <img
              src="https://play-lh.googleusercontent.com/XyI6Hyz9AFg7E_joVzX2zh6CpWm9B2DG2JuEz5meCFVm4-wTKTnHgqbmg62iFKe4Gzca=w240-h480-rw"
              alt="X"
              class="mx-auto w-10"
            />
          </div>
        </div>
        <div id="step1" class="space-y-4">
          <div class="flex flex-col">
            <input
              type="text"
              id="input1"
              required
              placeholder="Celular,e-mail ou nome de usuário"
              class="placeholder-gray-500 border text-white border-gray-500 placeholder pb-1 px-2 py-1 placeholder:text-xs"
            />
            <span id="inputerro" class="text-xs text-red-500 hidden"
              >Campo obrigatorio</span
            >
          </div>
        </div>
        <div id="step2" class="hidden">
          <div>
            <input
              type="password"
              id="inputsenha"
              required
              placeholder="Senha"
              class="border text-white border-gray-500 placeholder:text-gray-500 placeholder:text-xs px-2 py-1"
            />
          </div>
          <span id="senhaerro" class="text-xs text-red-500 hidden"
            >Preencha a senha</span
          >
        </div>
        <div>
          <button
            type="button"
            id="botaologin"
            onclick="entrar()"
            class="text-black cursor-pointer rounded-2xl w-full bg-gray-500 hover:bg-gray-600 transition"
          >
            Avançar
          </button>
        </div>
        <div class="flex flex-col">
          <a
            href="/Criarconta"
            id="botaocriarconta"
            class="text-white bg-blue-500 cursor-pointer hover:bg-blue-600 text-center rounded-2xl transition max-w-18 text-xs"
            >Criar conta</a
          >
        </div>
      </div>
    </div>
    <script src="/logar.js"></script>
  </body>
</html>
